

.btn-outline-primary {
    color: #F19E39;
    border-color: #F19E39;
    background: transparent;
}

.btn {
    cursor: pointer;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.6875rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.53;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

a {
    text-decoration: none;
}